<div ng-include=" '/app/shared/navbar.html' "></div>
<hr/>
<div class="row">
        <div class="col-xs-6 col-sm-1"></div>
        <div class="col-xs-6 col-sm-3">
<button type="button" class="btn btn-primary" ng-model="ctrl.addRun" ng-click="ctrl.open('lg')" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    New Run
</button>

<div class="list" ng-show="ctrl.data">
    <div class="row">
        <div class="list-header col-lg-12 col-md-12 col-sm-12">
            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage"
                max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage" ng-change="ctrl.pageChanged()"
                class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
    <div class="row">
        <div class="item  col-xs-4 col-lg-4" ng-repeat="batchrun in ctrl.data | orderBy:'name'">
            <h4>{{batchrun.name}}</h4>
            <button type="button" class="btn btn-default" ng-click="ctrl.getProduct(product.id)">Edit</button>
        </div>
    </div>
</div>
<div class="list" ng-hide="ctrl.data.length>0">
    <h3>No record found.</h3>
</div>
</div>
</div>
