<div ng-include=" '/app/shared/navbar.html' "></div>
<div class="row">
        
        <div class="col-xs-12 .col-sm-6 .col-md-8">
<div class="list" ng-show="ctrl.data">
    <div class="row" ng-show="ctrl.data.length > 0">
        <div class="list-header col-lg-12 col-md-12 col-sm-12">
            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage"
                max-size="ctrl.maxSize" items-per-page="ctrl.itemsPerPage" ng-change="ctrl.pageChanged()"
                class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
    <div class="row">
        <div class="item col-xs-12 .col-sm-6 .col-md-8" ng-repeat="project in ctrl.data | orderBy:'_id'">
            <md-card>
                <img src="../../assets/images/result.png" class="md-card-image" alt="image caption">
                <md-card-content>
                  <h2>{{project._id}}</h2>
                  <p>Run No : {{project.runNo}}</p>
                  <p>Grand Total : {{project.total}}</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<div class="list" ng-hide="ctrl.data.length > 0">
    <h1>No record found.</h1>
</div>
</div>
</div>