<nav class="navbar navbar-default" ng-controller="HeaderController as headerctrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Demo Day</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ng-class="{ active: headerctrl.isActive('/score-sheet')}"><a ui-sref="score-sheet" >Score Sheet <span class="sr-only">(current)</span></a></li>
            <li ng-class="{ active: headerctrl.isActive('/compute')}"><a ui-sref="compute" >Result</a></li>
            <li ng-class="{ active: headerctrl.isActive('/admin')}"><a ui-sref="admin" >Team</a></li>
            <li ng-class="{ active: headerctrl.isActive('/runs')}"><a ui-sref="runs" >Runs</a></li>
            <li ng-class="{ active: headerctrl.isActive('/judges')}"><a ui-sref="judges" >Judges</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><h4>{{headerctrl.judgename}}&nbsp;&nbsp;</h4></li>
            <li>
                <select ng-model="headerctrl.selectedGlobalRun" class="form-control" name="runNo" id="runNo" ng-change="headerctrl.change()">
                  <option ng-repeat="run in headerctrl.navbatchruns | orderBy:'year' : true" value="{{run.runName}} - {{run.year}}">{{run.runName}} - {{run.year}}</option>
                </select>
            </li>
            
          </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>